*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
    font-style: normal;
    background: #F2F2F2;
}
.hero{
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./images/hero.png);
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 36px;
}
.logo{
    font-family: 'Script MT Bold'; 
    
}
.menu ul{display:flex;}
.menu ul li{
    list-style-type: none;
padding: 15px;
    align-items: center;
    
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: #E36D00;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
button:hover{
    cursor: pointer;

}

.login{
    border-radius: 7px;
    padding: 5px 15px;
    background-color: #E36D00;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.Insign{
    border: 1px solid #E36D00;
    border-radius: 7px;
    color: white;
    padding: 5px 15px;
    background-color: transparent;
    
    font-weight: bold;
}
.hero p{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    padding-top: 116px;
}

.Recherche{
    display: flex;
    padding: 70px 70px 70px 300px;
    gap:15px;
}
.search-input{
    background: #FFFFFF;
    border-radius: 10px;    
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding:10px 300px 10px 10px;
}
.search-button{
    background: #E36D00;
    border-radius: 10px;
    padding: 13px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF
}
/* Qui sommes nous */
.About-us{
    display:block;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
hr{
    background: #E36D00;
    border-radius: 10px;
    width: 82px;
    height: 4px;
    margin-top: 53px;
}
.about-container{
    display: block;
    padding-left: 1.5rem
}
.About-us h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-top: 32px;
    
}
.left-container{display: flex;flex-wrap: wrap;}
.left{
    display:flex;
    flex-direction: column;gap: 20px;}
.left p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;  
    width: 100%;
    padding-right: 15px;
    margin-top: 10px;
}
.left button{
    border: 1px solid #E36D00;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    width: 25%;
    
    
}
    .left-container img{

        padding-right: 15px;
        padding-left: 15px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
        border-radius: 30px;
}
.whatwedo{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 40px;
}
.whatwedo h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
}
.whatwedo-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 35px;
    gap: 20px;
}
.whatwedo-card{
    background-image: url(/images/hero.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 285px;
    height: 182px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.Cours{
    display: flex;
    flex-direction: column;
    padding: 41px;
    gap: 48px;

}
.Cours h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-top: 42px;
}
.cours-container{
    display: flex;
    justify-content: space-between;
    gap: 2px;

}
.cours-card{
    display: flex;
    flex-direction: column;
    width: 387px;
    height: 608px;
    gap:25px;
    padding-left: 16px;
    background-color: #FFFFFF;
}
.cours-card h2{
font-weight: 600;
font-size: 20px;
line-height: 24px;
padding-top: 10px;
}
.cours-card p{
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.suivre-cours{
    background: #E36D00;
    border: 1px solid #E36D00;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 174px;
    padding: 10px 12px;
}
/* teacher */
.teacher{
    display: flex;
    flex-direction: column;
    gap: 47px;
    justify-content: space-between;
    padding:40px;
}
.teacher h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    }

.teacher-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.teacher-right{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.teacher-right img{width:40%}


.right{    
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 6px 50px;
    gap: 10px;
    height: 55%;}

.right hr{
width: 131px;
height: 9.26px;
background: #E36D00;
border-radius: 6px;
}
.right h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #000000;
    }
.right p{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    }
.join{
    width: 174px;
    height: 30.08px;
    background-color: #FFFFFF;
    border: 1px solid #E36D00;
border-radius: 10px;
color: #E36D00;
font-weight: 600;
font-size: 16px;
line-height: 19px;
}
.icons{
background-color: #000000;
display: flex;
justify-content: space-between;
}
.icons-container{
    display: flex;
    justify-content: space-between;
    padding:42px 39px;
    gap:100px;
}
.icon{
    display: flex;
    gap:10px;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}
.icon img{
width: 151px;
height: 151px;
background: #FFFFFF;
border-radius:50%;
padding: 35px;
}
.inf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:15px;
}
.inf h2{
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: justify;
color: #E36D00;
}
.inf h3{
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: justify;
color: #FFFFFF;
}
.cards{
    padding:40px 40px;
    display: flex;
    gap: 20px;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 386px;
    height: 404px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    gap:15px;
    
}
.card img{
width: 116px;
height: 116px;
padding-top: 23px;
}
.card h3{
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: justify;
color: #E36D00;
}
.card p{
font-weight: 400;
font-size: 16px;
line-height: 23px;
text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    padding: 40px;
}
.foot-container{
    display: flex;
    justify-content: space-between;
    
}
.foot{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap:10px;
}
.foot .f1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 9px;
    
}
.foot h3{
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #E36D00;
}
.foot p{
    padding-top: 10px;
}
.foot-foot{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.foot-foot input{
width: 285px;
height: 41px;
background: #D9D9D9;
border-radius: 10px;
}
.foot-foot .abon{
width: 285px;
height: 41px;
background: #201717;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
/* Styles pour les écrans de taille petite */

@media screen and (max-width:480px){

    .hero .navbar{
        padding-left: 10px;
        }
    .hero .texte p{
        padding-top: 86px;
        font-size: 50px;
        line-height: 50px;
    }
    
    .navbar .buttons{
    display: block;
    padding: 0px 0px 0px 10px;
    }
    .login{padding: 5px 6px;}
    .Insign{margin-top: 5px;padding: 5px 6px;font-size: 16px;}
    .Recherche{padding:40px 0px;display: flex;justify-content: center;}
    .search-input{
        font-weight: bold;
        font-size: 16px;
        padding: 5px 15px;
    } 
    .search-button{
    padding: 5px 9px;
    font-weight: bold;
    font-size: 14px;    
    } 
    hr{width:50px;margin-top: 33px;}
    .About-us{
        display: block;
        width: 100%;
    }
    .about-container{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .left{align-items: center;}
    .left-container img{width:100%;vertical-align: middle;}
    .About-us h2{
    padding-top: 22px;
    font-size: 25px;
    line-height: 29px;
    }
    
    .left-container{padding-top:15px;flex-direction: column-reverse;}
    .whatwedo{padding:10px}
    .whatwedo-container{flex-direction: column;height: auto;}
    .whatwedo-card{height: 100px;}
    .Cours{width: 100%;padding:10px;}
    .whatwedo h2{
        padding-top: 22px;
        font-size: 25px;
        line-height: 29px;
        }
    .Cours h2{
        padding-top: 22px;
        font-size: 25px;
        line-height: 29px;  
    }
    .card-contain{gap:10px;}
    .cours-container{flex-direction: column;gap:5px;width: auto;height:auto;}
    
    .courscard{width:350px;height: 500px;padding-left: 7px;}
    .cour-card h2{padding-top: 12px;}
    .suivre-cours{border-radius: 7px;padding: 7px 7px;margin-top: -9px;}
    
    .teacher{
        padding-top: 5rem;
        padding-bottom: 2rem;}
    
    .teacher-right img{
        width:100%}
    .teacher-container img{width: 100%;}
    .icons-container{
        flex-direction: column; 
        gap:30px;}
    .icon img{
        padding:50px;
        background-color:black;}
    .cards{
        display: flex;
        flex-direction: column;
        gap:10px;
        padding:10px;}
    .foot-container{
        flex-direction: column;}
    }
    /* Styles pour les écrans de taille moyenne, comme les tablettes */

@media screen and (min-width: 481px) and (max-width: 768px) {
    

}

